services:
  flask_app:
    build: .
    container_name: flask_compose_app
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
    volumes:
      - ./app:/app
    restart: unless-stopped
